#  Grouping, Summaries & Combining (Strategic Thinking)

In [58]:
import pandas as pd
df = pd.read_csv("nba.csv")

In [85]:
# Group by columns: count/mean/sum/min/max.
# clean Age column

numeric_cols = df.select_dtypes(include="number").columns
df.groupby("Age")[numeric_cols].agg(["mean", "max", "min", "sum", "count"])
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
915,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
916,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Rishabh Arya,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
919,Aryan,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN

In [89]:
# Pivot table

pd.pivot_table(
    df,
    index=["Name","Age"],
    values=["Salary", "Weight"],
    aggfunc=["mean","max","min","count","sum"],   
)

                           mean                max                min         \
                         Salary Weight      Salary Weight      Salary Weight
Name           Age
Aaron Brooks   31.0   2250000.0  161.0   2250000.0  161.0   2250000.0  161.0
Aaron Gordon   20.0   4171680.0  220.0   4171680.0  220.0   4171680.0  220.0
Aaron Harrison 21.0    525093.0  210.0    525093.0  210.0    525093.0  210.0
Adreian Payne  25.0   1938840.0  237.0   1938840.0  237.0   1938840.0  237.0
Al Horford     30.0  12000000.0  245.0  12000000.0  245.0  12000000.0  245.0
...                         ...    ...         ...    ...         ...    ...
Zach LaVine    21.0   2148360.0  189.0   2148360.0  189.0   2148360.0  189.0
Zach Randolph  34.0   9638555.0  260.0   9638555.0  260.0   9638555.0  260.0
Zaza Pachulia  32.0   5200000.0  275.0   5200000.0  275.0   5200000.0  275.0
Aryan          18.0         NaN    NaN         NaN    NaN         NaN    NaN
Rishabh Arya   19.0         NaN    NaN         NaN    NaN         NaN    NaN

                     count                sum
                    Salary Weight      Salary Weight
Name           Age
Aaron Brooks   31.0      2      2   4500000.0  322.0
Aaron Gordon   20.0      2      2   8343360.0  440.0
Aaron Harrison 21.0      2      2   1050186.0  420.0
Adreian Payne  25.0      2      2   3877680.0  474.0
Al Horford     30.0      2      2  24000000.0  490.0
...                    ...    ...         ...    ...
Zach LaVine    21.0      2      2   4296720.0  378.0
Zach Randolph  34.0      2      2  19277110.0  520.0
Zaza Pachulia  32.0      2      2  10400000.0  550.0
Aryan          18.0      0      0         0.0    0.0
Rishabh Arya   19.0      0      0         0.0    0.0

[459 rows x 10 columns]

In [60]:
# - Use value_counts across multiple columns. 
df.value_counts(subset=["Team", "Age", "Weight"])

Team               Age   Weight
Houston Rockets    22.0  240.0     2
Charlotte Hornets  27.0  200.0     2
Detroit Pistons    23.0  205.0     2
Charlotte Hornets  23.0  240.0     2
Miami Heat         30.0  205.0     2
                                  ..
Boston Celtics     27.0  205.0     1
                         220.0     1
                   29.0  231.0     1
                         240.0     1
Atlanta Hawks      24.0  260.0     1
Name: count, Length: 447, dtype: int64

In [61]:
# Merge : Inner, Outer, Left, Right
df1 = pd.DataFrame({
    "ID": [1,2,3],
    "Name": ["Alice", "Bob", "Carol"]
})

df2 = pd.DataFrame({
    "ID": [2,3,4],
    "Score": [90,85,70]
})

In [62]:
# Pre-existing
result = pd.merge(df1, df2, on="ID", how="inner")   # inner join
pd.merge(df1, df2, on="ID", how="left")    # left join
pd.merge(df1, df2, on="ID", how="right")   # right join
pd.merge(df1, df2, on="ID", how="outer")   # outer join
print(result)

# Inner [What i made]

def Merge(df1, df2, Id, merge_type = "inner"):
    merge_df = pd.DataFrame({})
    
    if(merge_type == "inner"):
        merge_df[Id] = pd.DataFrame(set(df1[Id]).intersection(set(df2[Id])))
    elif(merge_type == "outer"):
        merge_df[Id] = pd.DataFrame(set(df1[Id]).union(set(df2[Id])))
    
    for x in df1.columns:
        merge_df[x] = df1[x]
    for x in df2.columns:
        merge_df[x] = df2[x]
        
    return merge_df

# resulting_df = Merge(df1, df2, "ID", merge_type="left")
# resulting_df

   ID   Name  Score
0   2    Bob     90
1   3  Carol     85

In [ ]:
# Concat rows and columns
new_rows = pd.DataFrame({
    "Name": ["Rishabh Arya", "Aryan"],
    "Age": [19, 18]
})

df = pd.concat([df, df], ignore_index=True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
400,Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0
401,Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-2,195.0,Duke,1282080.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
403,Shabazz Muhammad,Minnesota Timberwolves,15.0,SF,23.0,6-6,223.0,UCLA,2056920.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
...,...,...,...,...,...,...,...,...,...
496,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
497,Jerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0
498,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0
499,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
500,Kristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,NaN,4131720.0