Data cleaning and exploration

In [7]:
import pandas as pd
import numpy as np

## Handle missing values

In [2]:
# -> Show which columns have missing values

df = pd.read_csv("nba.csv")
df.head()
print(df.isna().sum())
df[df['College'].isna()]

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
...,...,...,...,...,...,...,...,...,...
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop rows containing missing values
df = pd.read_csv("nba.csv")
df.dropna(inplace=True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [4]:
# Filling in missing values with (mean || median || Zero)
filledDf = pd.read_csv("nba.csv")

# 1] with mean else 0
# filledDf = filledDf.fillna(filledDf.mean(numeric_only=True)).fillna(0)

# 2] with median else 0
# filledDf = filledDf.fillna(filledDf.median(numeric_only=True)).fillna(0)

# 3] with "Unknown"  YET TO BE DONE
# filledDf = filledDf.fillna()

# filledDf

In [5]:
# creating duplicates in the dataframe
import random
random_indexes = [random.randint(0,(x%4)*100) for x in range(0,10)]
new_rows = df.loc[random_indexes]

new_rows.reset_index(inplace=True, drop=True)

list_index = [x for x in range(df.__len__(), df.__len__() + len(new_rows))]
# new_rows['new_index'] = list_index
# new_rows.set_index('new_index', inplace=True)
new_rows.index = list_index

new_rows
# df = pd.concat([df, new_rows])

KeyError: '[132, 15, 102] not in index'

In [ ]:
# Duplicates
df.duplicated().sum()
df.drop_duplicates(inplace=False)
df.drop_duplicates(['Name'])
# df.loc[len(df)] = {"Name": "Jeff Withey"}
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
2,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
3,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
4,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
...,...,...,...,...,...,...,...,...,...
358,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
359,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
360,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
361,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
362,Jeff Withey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Renaming columns

# all
# new_col_names = []
# for x in list(df.columns):
#     new_col_names.append(x.lower())
# new_col_names

# space -> underscore
df.columns = [col.lower().replace(" ", "_") for col in df.columns]
df

# specifically one
# df.rename({'team':'Team'}, axis=1, inplace=True)
# df.rename(columns={'number': 'Number'}, inplace=True)
# df

,full_name,team,number,position,age,height,weight,college,salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
2,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
3,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
4,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
...,...,...,...,...,...,...,...,...,...
358,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
359,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
360,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
361,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
362,Jeff Withey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Filtering and querying
df[df['age'] > 20]

df[df['full_name'] == 'James Young']

mask1 = (df['weight'] < 180)
mask2 = (df['weight'] > 170)
df[mask1 & mask2]

df[df["full_name"].str.startswith('Ar')]

df.query("full_name.str.startswith('A')")

df.query("number*6 > weight")

,full_name,team,number,position,age,height,weight,college,salary
1,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
2,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
9,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
19,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
31,Lance Thomas,New York Knicks,42.0,SF,28.0,6-8,235.0,Duke,1636842.0
37,Jerami Grant,Philadelphia 76ers,39.0,SF,22.0,6-8,210.0,Syracuse,845059.0
53,Patrick Patterson,Toronto Raptors,54.0,PF,27.0,6-9,235.0,Kentucky,6268675.0
57,Delon Wright,Toronto Raptors,55.0,PG,24.0,6-5,190.0,Utah,1509360.0
58,Harrison Barnes,Golden State Warriors,40.0,SF,24.0,6-8,225.0,North Carolina,3873398.0
70,Cole Aldrich,Los Angeles Clippers,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
93,Robert Sacre,Los Angeles Lakers,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0
129,E'Twaun Moore,Chicago Bulls,55.0,SG,27.0,6-4,191.0,Purdue,1015421.0
144,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,6-1,198.0,Alabama,2100000.0
145,Joel Anthony,Detroit Pistons,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
159,Anthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3000000.0
165,Solomon Hill,Indiana Pacers,44.0,SF,25.0,6-7,225.0,Arizona,1358880.0
167,Glenn Robinson III,Indiana Pacers,40.0,SG,22.0,6-7,222.0,Michigan,1100000.0
170,Shayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0
181,Johnny O'Bryant III,Milwaukee Bucks,77.0,PF,23.0,6-9,257.0,LSU,845059.0
190,Devin Harris,Dallas Mavericks,34.0,PG,33.0,6-3,185.0,Wisconsin,4053446.0
191,David Lee,Dallas Mavericks,42.0,PF,33.0,6-9,245.0,Florida,2085671.0
201,Corey Brewer,Houston Rockets,33.0,SG,30.0,6-9,186.0,Florida,8229375.0
208,Jason Terry,Houston Rockets,31.0,SG,38.0,6-2,185.0,Arizona,947276.0
219,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
224,Norris Cole,New Orleans Pelicans,30.0,PG,27.0,6-2,175.0,Cleveland State,3036927.0
225,Dante Cunningham,New Orleans Pelicans,44.0,PF,29.0,6-8,230.0,Villanova,2850000.0
253,Kris Humphries,Atlanta Hawks,43.0,PF,31.0,6-9,235.0,Minnesota,1000000.0
262,Tyler Hansbrough,Charlotte Hornets,50.0,PF,30.0,6-9,250.0,North Carolina,947276.0
265,Frank Kaminsky III,Charlotte Hornets,44.0,C,23.0,7-0,240.0,Wisconsin,2612520.0
275,Udonis Haslem,Miami Heat,40.0,PF,36.0,6-8,235.0,Florida,2854940.0
287,Andrew Nicholson,Orlando Magic,44.0,PF,26.0,6-9,250.0,St. Bonaventure,2380593.0
292,C.J. Watson,Orlando Magic,32.0,PG,32.0,6-2,175.0,Tennessee,5000000.0
297,Drew Gooden,Washington Wizards,90.0,PF,34.0,6-10,250.0,Kansas,3300000.0
348,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
359,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0

In [ ]:
# Sorting
df.sort_values('age', ascending=False)
df.sort_values([ 'weight', 'age'])
df.sort_values(by=[ 'age', 'weight'], ascending=[True, False])

,full_name,team,number,position,age,height,weight,college,salary
97,Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
185,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
43,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,6-11,275.0,Duke,4582680.0
156,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,6-7,245.0,Arizona,2841960.0
321,Karl-Anthony Towns,Minnesota Timberwolves,32.0,C,20.0,7-0,244.0,Kentucky,5703600.0
...,...,...,...,...,...,...,...,...,...
208,Jason Terry,Houston Rockets,31.0,SG,38.0,6-2,185.0,Arizona,947276.0
213,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
241,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
245,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
362,Jeff Withey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Aggregation

# mean, median, mode, max, min
df['weight'].mean()
df['weight'].median()
df['weight'].mode()
df['weight'].max()
df['weight'].min()

df['weight'].agg(["mean", "median", "max", "min"])
df['weight'].describe()

# group by 
df.groupby('college')['weight'].agg(["count", "mean"])
df.groupby(['college','team'])['weight'].agg(["count", "mean"])

                                count   mean
college   team
Alabama   Cleveland Cavaliers       1  198.0
          Memphis Grizzlies         1  227.0
          New Orleans Pelicans      1  225.0
Arizona   Brooklyn Nets             1  220.0
          Cleveland Cavaliers       2  244.0
...                               ...    ...
Wisconsin Houston Rockets           1  230.0
          Phoenix Suns              1  228.0
          Sacramento Kings          1  220.0
Wyoming   Los Angeles Lakers        1  230.0
Xavier    San Antonio Spurs         1  250.0

[328 rows x 2 columns]

In [ ]:
# Basic column chatak chala
l = (df["full_name"].str.split(" ").to_list())
fname = [x[0] for x in l]
lname = [x[-1] for x in l]
df['first_name'] = fname
df['last_name'] = lname
df.head()

df["is_adult"] = df['age'] > 18

0        Avery
1       Jordan
2        Kelly
3        Terry
4       Marcus
        ...
357     Rodney
358      Chris
359       Trey
360    Shelvin
361       Jeff
Name: first_name, Length: 362, dtype: object

In [ ]:
# Data type conversion
# int
# df["age"] = df["age"].astype(int)
# category
print((df['team']).dtype)
df["team"] = df["team"].astype("category")
print((df['team']).dtype)
df

for x in df.columns:
    print(df[x].name, " ||| " ,  df[x].dtype)

category
category
full_name  |||  object
team  |||  category
number  |||  datetime64[ns]
position  |||  category
age  |||  datetime64[ns]
height  |||  datetime64[ns]
weight  |||  datetime64[ns]
college  |||  object
salary  |||  datetime64[ns]
first_name  |||  object
last_name  |||  object
is_adult  |||  bool

In [9]:
# Practice Problems

# 1] Clean the dataset - Fix mixed-format date column.  
df = pd.DataFrame({
    "salary": ["5000", "5,000", "$5000", np.nan],
    "join_date": ["2024-05-01", "05/01/2024", "May 1, 2024", np.nan],
    "age": [25, "30", "forty", 35.0]
})

df

  salary    join_date    age
0   5000   2024-05-01     25
1  5,000   05/01/2024     30
2  $5000  May 1, 2024  forty
3    NaN          NaN   35.0