- Students dataset → avg marks per subject, top scorer per subject.  
- Employees dataset → count per department, highest salary per dept.  
- Merge datasets with mismatches → detect mismatched keys.

In [ ]:
# Libraries and datasest
import pandas as pd 
studentDf = pd.read_csv("students_dataset.csv")
employeeDf = pd.read_csv("employees_dataset.csv")
deptDf = pd.read_csv("dept_info.csv")

In [ ]:
# Student - Avg marks per subject, top scorer per subject.

studentDf.groupby(["StudentID", "Name"])[["Math","Physics","Chemistry"]].mean()

                       Math  Physics  Chemistry
StudentID Name
1         Student_1    86.0     44.0       72.0
2         Student_2    49.0     58.0       91.0
3         Student_3    95.0     98.0       61.0
4         Student_4    55.0     83.0       89.0
5         Student_5    58.0     70.0       67.0
...                     ...      ...        ...
396       Student_396  92.0     63.0       74.0
397       Student_397  63.0     67.0       79.0
398       Student_398  70.0     61.0       96.0
399       Student_399  55.0     70.0       92.0
400       Student_400  70.0     63.0       90.0

[400 rows x 3 columns]