Indexing a series using .loc[]

In [46]:
import pandas as pd

1. Indexing with .loc[]
-->using loc : retrives elements with labels

In [47]:
# Selecting a single row by label
data = pd.read_csv("nba.csv", index_col='Name')

row = data.loc["Avery Bradley"]
print(row)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [50]:
# Selecting multiple rows by label
row = data.loc[["Avery Bradley", "R.J. Hunter"]]
row

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [49]:
# using iloc: retrieve data by position
# (loc but only uses integer location to make its selections)
df = pd.read_csv("nba.csv")
ser = pd.Series(df['Name'])
ser.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object