 Creating Dataframe using dictionary

In [1]:
import pandas as pd

<frozen importlib._bootstrap>:491: RuntimeWarning: The global interpreter lock (GIL) has been enabled to load module 'pandas._libs.pandas_parser', which has not declared that it can run safely without the GIL. To override this behavior and keep the GIL disabled (at your own risk), run with PYTHON_GIL=0 or -Xgil=0.

In [3]:
# Simple dictionary
df = pd.DataFrame({"Name": ["Rishabh", "Aryan", "Meow"], "Number" : [1,2,3]})
df.head()

      Name  Number
0  Rishabh       1
1    Aryan       2
2     Meow       3

In [14]:
# Dictionary of series
winners = pd.Series(["Participant1","Participant3","Participant2"])
positions = pd.Series([1,2,3])
df = pd.DataFrame({
    "Winners": winners,
    "Positions": positions})
df.head()

        Winners  Positions
0  Participant1          1
1  Participant3          2
2  Participant2          3