In [3]:
# Pandas Dataframe
## -> It is a two dimensional table like structure in python.
## -> where data is arranged in rows and columns.
## -> It consists of DATA, ROWS, COLUMNS.

In [4]:
# Creating pandas dataframe:
# Dataframes can be created directly from 
# -- python objects like lists and dictionaries or by reading data from external files like CSV, Excel, SQL databases

Creating Dataframes

In [12]:
import pandas as pd
import numpy as np

In [19]:
# using a list
list1 = [[1,2,3,4,5], [5,4,3,2,1]]
df = pd.DataFrame(list1)
print(df)

# using dictionaries
dict1 = {"Name": [0,1,2], "roll_no":[1,2,3]}
df = pd.DataFrame(dict1)
print(df)

# using list of dictionaries
students = [
    {"Name" : "A", "Age": 20},
    {"Name": "B", "Age" : 21}
]
df = pd.DataFrame(students)
print(df)

#using dict of numpy array
data = np.array([[1,1], [2,2]])
df = pd.DataFrame(data, columns=['A', 'B'])
print(df)

   0  1  2  3  4
0  1  2  3  4  5
1  5  4  3  2  1
   Name  roll_no
0     0        1
1     1        2
2     2        3
  Name  Age
0    A   20
1    B   21
   A  B
0  1  1
1  2  2

In [50]:
# Reading a CSV
df = pd.read_csv("students.csv")
# df.head()
# df.tail()
# df.info()
df.describe()
# print(df['age'])
# print(df[['name', 'age']])

             age
count   3.000000
mean   18.333333
std    11.503623
min     7.000000
25%    12.500000
50%    18.000000
75%    24.000000
max    30.000000

   A  B
0  1  1
1  2  2